.heading{
    color: rgba(12,116,117,1) ;
}
.app {
  background-color: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

#speak {
  display: flex;
  justify-content: center;
}
